@import "variables.scss";

// bower:scss
@import "bootstrap.scss";
// endbower

body {
	background: url(../images/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
}

a {
	border-bottom: 1px dotted #ccc;
	&:hover, &:focus {
		text-decoration: none;
		border-color: #333;
	}
	.img-link & {
		border: none;
	}
}

.texture {
	background: url(../images/texture.png);
	opacity: 0.05;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}

.list-unstyled {
	margin-bottom:0;
}

.main {
	background: rgba(255,255,255,0.9);
}

.wrapper {
	position: relative;
	z-index: 10;
}

.header {
	position: relative;
}

.m-bretagne {
	position: absolute;
	z-index: 20;
	top: 1em;
	right: 0;
}

#wrap {
	position: relative;
}


.accueil {

	.header {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 70vh;
		opacity: 1;
		position: relative;


		img {
			
			@include img-responsive();
			z-index: 200;

		}

		&:after {
			content: '';
			display: block;
			width: 130px;
			height: 60px;
			background: url(../images/logo_RB.png) center no-repeat;
			background-size: 100%;
			position: absolute;
			right: 0;
			bottom: 1em;
		}


		
	}
}

.datakeys {
	color: $gray-light;


	.display, .display span {
		display: block;
	}


	.key {
		display: inline-block;
		font-size: 2.5em;
		color: $gray;
		text-shadow: 3px 3px 0px $gray-lighter;
		strong {
			color: $brand-info;
		}
		
	}
}

#reseaux {
	background: rgba(255,255,255, 1);
	border-bottom: solid 1px rgba(0,0,0,0.2);	
	
	ul {
		margin-bottom: 0;
		padding: 2em 0;
		.prog {
			display: none;
		}

	}

	&.fix {
		
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;

		ul {
			padding: 1em 0;
			.prog {
				display: inline-block;
			}
		}
		
	}

	.btn {
		transition: font-size 0.5s;
	}
}

.btn  {
	.fix & {
		font-size: 0.8rem;
	}
}

.zoom {
	background-color: #b5ada2;
	background-image: url(../images/bg-programmation.png);
	background-repeat: no-repeat;
	background-position: left bottom;

	.card {
		background: #fff;

		.tags {
			margin-bottom: 1em;
		}
	}
}

#teaser {
	border-bottom: solid 1px rgba(255,255,255,0.8);
	background-color: $brand-primary;
	background-image: url(../images/bg-teaser.png);
	background-repeat: no-repeat;
	background-position: top right;
}

.partenaires {
	background-image: url(../images/bg-partenaires.png);
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 250px !important;
	.list {
		display : flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: space-between;
		align-items: baseline;
		li {
			flex: 1;
			flex-basis: 15%;
			align-self: center;
			text-align: center;
			img {
				max-width: 150px;
			}
		}
	}
}

.footer {
	background: #000;
	* {
		color: $gray-lighter;
	}

	a:hover, a:focus {
		color: $brand-primary;
	}
}