<!doctype html>
<html class="no-js" lang="fr_FR" ng-app="fdbapp">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fête de la Bretagne 2016</title>
    <meta name="description" content="Du 14 au 22mai 2016 : plus 150 évenements en Bretagne et partout dans le monde "/>
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Fête de la Bretagne - Gouel Breizh" />
    <meta property="og:description" content="Gouel Breizh" />
    <meta property="og:url" content="http://www.fetedelabretagne.bzh" />
    <meta property="og:site_name" content="Fête de la Bretagne" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- Pictothèque -->
    <link rel="stylesheet" href="http://guidestyles.bretagne.bzh/styles/crbicon.css">
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body class="accueil">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="header img-link">
      <div class="texture"></div>
      <div class="wrapper text-center">
        <h1 class="sr-only">Fête de la <br> Bretagne <br><small class="text-muted">gouel breizh</small></h1>
        <img src="images/fdb.png" height="366" width="579" alt="">
      </div>
      <a href="http://www.marque-bretagne.fr/" class="m-bretagne"><img src="images/marque-bretagne.png" height="60" width="136" alt="bretagne"></a>
    </header>

    <main class="main p-a-lg" ng-controller="mainCtrl as main">
      <div class="container">
        <div class="row">

          <div class="col-md-12 p-b-lg text-center">

            
            <a href="https://openagenda.com/fete-de-la-bretagne-gouel-breizh-2015" class="btn btn-lg btn-primary"><i class="icon-calendar"></i> voir la programmation</a>

            <a href="https://openagenda.com/fete-de-la-bretagne-gouel-breizh-2015" class="btn btn-lg btn-secondary"><i class="icon-download"></i> télécharger le programme</a>

          </div>

          <div class="col-md-6">
            <h2>L'édito</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere inventore eligendi repellendus, ipsam consequuntur quia ipsa et necessitatibus dolore officia eum incidunt corporis repudiandae! Incidunt fugiat corporis minus aliquid error.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere inventore eligendi repellendus, ipsam consequuntur quia ipsa et necessitatibus dolore officia eum incidunt corporis repudiandae! Incidunt fugiat corporis minus aliquid error.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere inventore eligendi repellendus, ipsam consequuntur quia ipsa et necessitatibus dolore officia eum incidunt corporis repudiandae! Incidunt fugiat corporis minus aliquid error.</p>
          </div><!-- /.col-md-6 -->

          <div class="col-md-5 col-md-offset-1">

            <ul class="datakeys list-unstyled h2 m-t-lg m-b-lg">
              <li class="m-b-lg"><span class="display-4"><i class="icon-map-marker"></i> <strong class="text-primary">{{main.data.total }}</strong></span><br>évèvements au compteur</li>
              <li class="m-b-lg"><span class="display-1"><i class="icon-globe"></i> <strong class="text-primary">115</strong></span><br>villes dans le monde</li>
            </ul>
          </div><!-- /.col-md-6 -->

          <div class="col-md-12">

            <div class="reseaux m-t-lg">
              <ul class="list list-inline">
                <li><a href="https://www.facebook.com/FetedelaBretagne" class="btn btn-info-outline"><i class="icon-facebook"></i> facebook</a></li>
                <li><a href="https://twitter.com/FeteBretagne" class="btn btn-info-outline"><i class="icon-twitter"></i> twitter</a></li>
                <li><a href="http://www.pinterest.com/fetebretagne/" class="btn btn-info-outline"><i class="icon-pinterest"></i> pinterest</a></li>
                <li><a href="https://www.youtube.com/channel/UCS2iXbWYwew28R8K3f27CIA" class="btn btn-info-outline"><i class="icon-youtube"></i> youtube</a></li>
              </ul>
            </div>

          </div>

          
        </div><!-- /.row -->
        
      </div><!-- /.container -->
    </main>

    <section class="zoom p-a-lg" ng-controller="mainCtrl as prog">
       <div class="containerfluid">
          <h1 class="display-2 text-lowercase text-center">Zoom sur</h1>
          <ul class="list-unstyled row">
           <li ng-repeat="evt in prog.data.events | limitTo:3 " class="col-md-4">
             <div class="card">
               <img class="card-img-top img-responsive" src="{{ evt.image }}" alt="{{ evt.slug }}">
               <div class="card-block">
                <ul class="list-inline tags">
                  <li ng-repeat="tag in evt.tags"><span class="label label-default">{{ tag.label }}</span></li>
                </ul>
                <h4 class="card-title">{{ evt.title.fr }}</h4>
                 <p class="card-text">{{ evt.description.fr }}</p>
                 
                <hr>
                 <p class="card-text">
                    <i class="icon-calendar"></i> <time datetime="{{ evt.timings.start}}">{{evt.range.fr}}</time> <br>
                    <i class="icon-map-marker"></i> {{evt.city}}
                  </p>
                 <p>
                   <a href="{{ evt.canonicalUrl }}" class="btn btn-primary">voir l'évènement</a>
                 </p>
               </div>
             </div>
           </li>
         </ul>
         <p class="sr-only">{{ prog.data }}</p>
       </div>
    </section>



      <section class="partenaires p-a-lg bg-info">

        <div class="container">
          <h1>Les partenaires</h1>
          <hr>
          <ul class="list list-unstyled img-link">
            <li><a href="http://www.letelegramme.fr/"><img src="images/partenaires/telegramme.png" alt="le télégramme"></a></li>
            <li><a href="http://www.fans-de-bretagne.com/"><img src="images/partenaires/FansdeBretagne_blanc.png" alt="Fans de Bretagne"></a></li>
            <li><a href="http://www.ouest-france.fr/"><img src="images/partenaires/Ouest-France_blanc.png" alt="Ouest France"></a></li>
            <li><a href="http://www.tebeotv.fr/"><img src="images/partenaires/Tebeo_blanc.png" alt="Tébéo"></a></li>
            <li><a href="http://www.tvrennes35bretagne.fr/"><img src="images/partenaires/TV-Rennes_blanc.png" alt="TV Rennes"></a></li>
            <li><a href="http://www.tebesud.fr/"><img src="images/partenaires/TebeSud_blanc.png" alt="Tébésud"></a></li>
            <li><a href="http://www.produitenbretagne.com/"><img src="images/partenaires/logo_PEB.png" alt="Produits en Bretagne"></a></li>
            <li><a href="http://www.aphib.fr/"><img src="images/partenaires/APHIB_blanc.png" alt="Aphib"></a></li>
            <li><a href="http://www.paysanbreton.fr/"><img src="images/partenaires/logo_PaysanBreton_blc.png" alt="Paysans Bretons"></a></li>
            <li><a href="http://www.breizhcola.fr/"><img src="images/partenaires/logo_BreizhCola_blc.png" alt="Breizh Cola"></a></li>
            <li><a href="http://www.restaurateurs-pointe-bretagne.com/vars/fichiers/MenusFetedelaBretagne2015.pdf"><img src="images/partenaires/logo_Restaurateurs_Pointe-Bretagne.png" alt="Restaurateurs pointe Bretagne"></a></li>
            <li><a href="http://www.radiobreizh.net/bzh/index.php"><img src="images/partenaires/RADIOBREIZH-blanc-300x210-11-300x210.png" alt="Radio Breizh"></a></li>
          </ul>
        </div>
      </section>
    
      <footer class="footer p-a-lg">
        <div class="container">
          <div class="display-4 pull-right"><i class="icon-logo_fr">&nbsp;</i></div>
          <p><i class="icon-envelope"></i> <strong>contact :</strong> 
            <script type="text/javascript" language="javascript">
            <!--
            // Email obfuscator script 2.1 by Tim Williams, University of Arizona
            // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
            // This code is freeware provided these four comment lines remain intact
            // A wizard to generate this code is at http://www.jottings.com/obfuscator/
            { coded = "JNUNfNITFHNUTkxN@FHNUTkxN.FPO"
              key = "wqmNKrMAhGklXVTbtDs8RfxZYP2uE73iLSHCeO4vIBjgFUoac1JWy9dnp5z0Q6"
              shift=coded.length
              link=""
              for (i=0; i<coded.length; i++) {
                if (key.indexOf(coded.charAt(i))==-1) {
                  ltr = coded.charAt(i)
                  link += (ltr)
                }
                else {     
                  ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                  link += (key.charAt(ltr))
                }
              }
            document.write("<a href='mailto:"+link+"'>fetedelabretagne[a]bretagne.bzh</a>")
            }
            //-->
            </script><noscript>Sorry, you need Javascript on to email me.</noscript>
             / 
            <script type="text/javascript" language="javascript">
            <!--
            // Email obfuscator script 2.1 by Tim Williams, University of Arizona
            // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
            // This code is freeware provided these four comment lines remain intact
            // A wizard to generate this code is at http://www.jottings.com/obfuscator/
            { coded = "RN1WW1@DN1asbo1.D9m"
              key = "jxWhuyztrqPn0pAUbG5CZwmXV9aNL8o4RJYDHKe6iB7IMsFSkEv3T2cQf1dgOl"
              shift=coded.length
              link=""
              for (i=0; i<coded.length; i++) {
                if (key.indexOf(coded.charAt(i))==-1) {
                  ltr = coded.charAt(i)
                  link += (ltr)
                }
                else {     
                  ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                  link += (key.charAt(ltr))
                }
              }
            document.write("<a href='mailto:"+link+"'>presse[a]bretagne.bzh</a>")
            }
            //-->
            </script><noscript>Sorry, you need Javascript on to email me.</noscript>
          

          <p><i class="icon-phone"></i> <strong>Tel :</strong> 02 99 27 13 83</p>
          <p>&copy; organisée avec le soutien de la <a href="http://wwww.bretagne.bzh">Région Bretagne</a></p>

        </div>
      </footer>
    </div>
    
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
