<!doctype html>
<html class="no-js" lang="fr_FR" ng-app="fdbapp">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fête de la Bretagne 2016</title>
    <meta name="description" content="Du 14 au 22mai 2016 : plus 150 évenements en Bretagne et partout dans le monde "/>
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Fête de la Bretagne - Gouel Breizh" />
    <meta property="og:description" content="Gouel Breizh" />
    <meta property="og:url" content="http://www.fetedelabretagne.bzh" />
    <meta property="og:site_name" content="Fête de la Bretagne" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="/bower_components/animate.css/animate.css">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- Pictothèque -->
    <link rel="stylesheet" href="http://guidestyles.bretagne.bzh/styles/crbicon.css">
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    
    
    
  </head>
  <body class="accueil" >
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <div id="wrap">
    <header class="header img-link">
      <div class="texture"></div>

        <h1 class="sr-only">Fête de la <br> Bretagne <br><small class="text-muted">gouel breizh</small></h1>
        <img src="images/fdb.png" alt="Fête de la Bretagne du 14 au 22 mai 2016">

      <a href="http://www.marque-bretagne.fr/" class="m-bretagne"><img src="images/marque-bretagne.png" height="60" width="136" alt="bretagne"></a>
    </header>

    <main class="main p-t-lg" ng-controller="mainCtrl as main">
      <div class="container" >
        <div class="row">

          <div class="col-md-12 p-b-lg text-center">

            
            <a href="https://openagenda.com/fete-bretagne-gouel-breizh-2016" class="btn btn-lg btn-primary"><i class="icon-calendar"></i> voir la programmation</a>

            <a href="Prog_FB16-web.pdf" class="btn btn-lg btn-secondary"><i class="icon-download"></i> télécharger le programme</a>

          </div>

          <div class="col-md-6">
            <h2>Présentation / Kinnig</h2>
            <hr>
            <p>Fidèle à l'identité et à la diversité du territoire, la <strong>Fête de la Bretagne</strong> se compose d'une centaine d'événements conviviaux, issus de dynamiques collectives, aux tarifs accessibles au plus grand nombre et partageant un même objectif : valoriser la Bretagne dans toute sa créativité.</p>
            <p>Chaque année, des centaines de milliers de Bretons et amis de la Bretagne se rassemblent, en France et partout dans le monde, pour célébrer une région festive et créative. En 2015, près de <em>400 000 personnes</em> ont pris part à l’événement, dont plus de <em>7 000 bénévoles</em>, sans qui la fête n'aurait pas lieu.</p>
            <p>Pour cette <strong>8e édition</strong>, découvrez <a href="https://openagenda.com/fete-bretagne-gouel-breizh-2016">l'ensemble de la programmation</a>. Il y en aura pour tous les goûts.</p>
            <h3 class="h5">Nouveauté 2016 : les Territoires en Fête</h3>
            <p>Cette année, cinq territoires se mobilisent tout particulièrement pour la Fête de la Bretagne. <strong>A Bruz</strong>, <strong>Dinard</strong>, <strong>Ploërmel</strong>, <strong>Pont-de-Buis-lès-Quimerc'h</strong> et <strong>au Pays du Roi Morvan</strong>, ce sont l'ensemble des acteurs de la commune ou de l'intercommunalité qui participent à l'événement à travers la mise en place d'animations, organisées pour le grand public ou plus spécifiquement pour les habitants.</p>
            <p>Retrouvez le détail de leurs événements dans la programmation.</p>
          </div><!-- /.col-md-6 -->

          <div class="col-md-5 col-md-offset-1">
            <ul class="datakeys list-unstyled h2 m-t-lg m-b-lg">
              <li id="triggerData1" class="m-b-lg display display1 animated"><span class="key"><i class="icon-map-marker"></i> <strong class="data">{{main.data.total }}</strong></span>événements à ce jour</li>
              <li id="triggerData2"class="m-b-lg display display2 animated"><span class="key"><i class="icon-globe"></i> <strong class="data">153</strong></span>villes dans le monde en 2016</li>
            </ul>
          </div><!-- /.col-md-6 -->
          
        </div><!-- /.row -->
        
      </div><!-- /.container -->

      <div id="triggerReseaux">&nbsp;</div>
      
    </main>

    

    <nav id="reseaux">
      <div class="container">
          <ul class="list list-inline">
            <li><a href="https://www.facebook.com/FetedelaBretagne" class="btn btn-info-outline"><i class="icon-facebook"></i> facebook</a></li>
            <li><a href="https://twitter.com/FeteBretagne" class="btn btn-info-outline"><i class="icon-twitter"></i> twitter</a></li>
            <li><a href="http://www.pinterest.com/fetebretagne/" class="btn btn-info-outline"><i class="icon-pinterest"></i> pinterest</a></li>
            <li><a href="https://www.youtube.com/channel/UCS2iXbWYwew28R8K3f27CIA" class="btn btn-info-outline"><i class="icon-youtube"></i> youtube</a></li>
             <li class="prog pull-right"><a href="https://openagenda.com/fete-bretagne-gouel-breizh-2016" class="btn btn-primary"><i class="icon-calendar"></i> voir la programmation</a></li>
          </ul>
      </div>
    </nav>

    <aside id="teaser" class="p-y-lg">
      <div class="container">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/y-6xR9QGfMM" allowfullscreen></iframe>
        </div>
      </div>
    </aside>

    <section class="zoom p-y-lg" ng-controller="zoomCtrl as prog">
       <div class="container">
          <h1>Zoom sur / Zoum war</h1>
          <ul class="list-unstyled row">
           <li ng-repeat="evt in prog.data.events | limitTo:3 " class="col-md-4">
             <div class="card">
               <img class="card-img-top img-responsive" src="{{ evt.image }}" alt="{{ evt.slug }}">
               <div class="card-block">
                <ul class="list-inline tags">
                  <li ng-repeat="tag in evt.tags"><span class="label label-default">{{ tag.label }}</span></li>
                </ul>
                <h4 class="card-title">{{ evt.title.fr }}</h4>
                 <p class="card-text">{{ evt.description.fr }}</p>
                 
                <hr>
                 <p class="card-text">
                    <i class="icon-calendar"></i> <time datetime="{{ evt.timings.start}}">{{evt.range.fr}}</time> <br>
                    <i class="icon-map-marker"></i> {{evt.city}}
                  </p>
                 <p>
                   <a href="{{ evt.canonicalUrl }}" class="btn btn-primary">voir l'événement</a>
                 </p>
               </div>
             </div>
           </li>
         </ul>
         <p class="sr-only">{{ prog.data }}</p>
       </div>
    </section>

    <section class="partenaires p-y-lg bg-info">

        <div class="container">
          <h1>Les partenaires / Ar gevelerien</h1>
          <hr>
          <ul class="list list-unstyled img-link">
            <li><a href="http://www.letelegramme.fr/"><img src="images/partenaires/telegramme.png" alt="le télégramme"></a></li>
            <li><a href="http://www.fans-de-bretagne.com/"><img src="images/partenaires/FansdeBretagne_blanc.png" alt="Fans de Bretagne"></a></li>
            <li><a href="http://www.ouest-france.fr/"><img src="images/partenaires/Ouest-France_blanc.png" alt="Ouest France"></a></li>
            <li><a href="http://www.tebeotv.fr/"><img src="images/partenaires/Tebeo_blanc.png" alt="Tébéo"></a></li>
            <li><a href="http://www.tvrennes35bretagne.fr/"><img src="images/partenaires/TV-Rennes_blanc.png" alt="TV Rennes"></a></li>
            <li><a href="http://www.tebesud.fr/"><img src="images/partenaires/TebeSud_blanc.png" alt="Tébésud"></a></li>
            <li><a href="http://www.produitenbretagne.com/"><img src="images/partenaires/logo_PEB.png" alt="Produits en Bretagne"></a></li>
            <li><a href="http://www.aphib.fr/"><img src="images/partenaires/APHIB_blanc.png" alt="Aphib"></a></li>
            <li><a href="http://www.gelagri.com/paysan-breton-gms-pxl-12_56.html"><img src="images/partenaires/logo_PaysanBreton_blc.png" alt="Paysans Bretons"></a></li>
            <li><a href="http://www.breizhcola.fr/"><img src="images/partenaires/logo_BreizhCola_blc.png" alt="Breizh Cola"></a></li>
            <li><a href="http://www.radiobreizh.net/bzh/index.php"><img src="images/partenaires/RADIOBREIZH-blanc-300x210-11-300x210.png" alt="Radio Breizh"></a></li>
            <li><a href="http://www.pennarbox.bzh/fr"><img src="images/partenaires/logo_pennarbox.png" alt="Penn Ar Box"></a></li>
          </ul>
        </div>
    </section>
    
    <footer class="footer p-y-lg">
      <div class="container">

        <div class="row">
          <div class="col-md-6">
            <a class="twitter-timeline" href="https://twitter.com/hashtag/fetebretagne" data-widget-id="299086816567508992">Tweets sur #fetebretagne</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
          <div class="col-md-4">
            <p><i class="icon-envelope"></i> <strong>Contact :</strong> 
              <script type="text/javascript" language="javascript">
              <!--
              // Email obfuscator script 2.1 by Tim Williams, University of Arizona
              // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
              // This code is freeware provided these four comment lines remain intact
              // A wizard to generate this code is at http://www.jottings.com/obfuscator/
              { coded = "JNUNfNITFHNUTkxN@FHNUTkxN.FPO"
                key = "wqmNKrMAhGklXVTbtDs8RfxZYP2uE73iLSHCeO4vIBjgFUoac1JWy9dnp5z0Q6"
                shift=coded.length
                link=""
                for (i=0; i<coded.length; i++) {
                  if (key.indexOf(coded.charAt(i))==-1) {
                    ltr = coded.charAt(i)
                    link += (ltr)
                  }
                  else {     
                    ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                    link += (key.charAt(ltr))
                  }
                }
              document.write("<a href='mailto:"+link+"'>fetedelabretagne[a]bretagne.bzh</a>")
              }
              //-->
              </script><noscript>Sorry, you need Javascript on to email me.</noscript>
              </p>
              <p><i class="icon-comment"></i> <strong>Relations Presse :</strong> 
              <script type="text/javascript" language="javascript">
              <!--
              // Email obfuscator script 2.1 by Tim Williams, University of Arizona
              // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
              // This code is freeware provided these four comment lines remain intact
              // A wizard to generate this code is at http://www.jottings.com/obfuscator/
              { coded = "RN1WW1@DN1asbo1.D9m"
                key = "jxWhuyztrqPn0pAUbG5CZwmXV9aNL8o4RJYDHKe6iB7IMsFSkEv3T2cQf1dgOl"
                shift=coded.length
                link=""
                for (i=0; i<coded.length; i++) {
                  if (key.indexOf(coded.charAt(i))==-1) {
                    ltr = coded.charAt(i)
                    link += (ltr)
                  }
                  else {     
                    ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                    link += (key.charAt(ltr))
                  }
                }
              document.write("<a href='mailto:"+link+"'>presse[a]bretagne.bzh</a>")
              }
              //-->
              </script><noscript>Vous devez autoriser JavaScript pour envoyer cet e-mail.</noscript>
            
            <p><i class="icon-communique_presse"></i> <a href="http://www.bretagne.bzh/jcms/TFE080514_12286/fr/espace-presse?cid=prod_318465">Les communiqués de presse</a></p>
            <p><i class="icon-phone"></i> <strong>Tel :</strong> 02 99 27 10 12</p>
           
          </div>


           <div class="display-4 col-md-2"><i class="icon-logo_fr">&nbsp;</i></div>

           <div class="col-md-12">
              <p class="m-t">&copy; organisée avec le soutien de la <a href="http://wwww.bretagne.bzh">Région Bretagne</a></p>
           </div>
        </div>


        

      </div>
    </footer>

  </div> <!-- /#wrap -->
    
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-8096646-4', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
    
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/scroll.js"></script>
    <script src="scripts/redirection.js"></script>
    <!-- endbuild -->

  </body>
</html>
